name: CI - Build & Test
run-name: Triggered by ${{ github.actor }} on ${{ github.event_name }}
on: [push, workflow_dispatch]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/functional_tests/requirements.txt

      - name: Create build directory
        run: mkdir build

      - name: CMake configuration
        run: cmake -DBUILD_PYTHON_BINDINGS=ON ..
        working-directory: build

      - name: Build
        run: make -j$(nproc)
        working-directory: build

      - name: Run C++ Unit Tests
        run: ctest --output-on-failure
        working-directory: build

      - name: Run Python Perft Tests
        run: pytest tests/functional_tests/perft/test_perft.py -v
